html {
  &[aria-busy="true"] {
    &:before {
      display: none;
    }
  }
}

header {
  padding-bottom: 0 !important;
}

nav {
  align-items: center;
  
  h1 {
    margin: 0;
    font-size: 1.5rem;
    
    a {
      padding: 0;
    }
  }
  a {
    margin: 0;
  }
}
