<p>Welcome <%= @email %>!</p>

<p>You can confirm your collection email through the link below:</p>

<p><%= link_to 'Confirm my collection', confirmation_url(@resource, confirmation_token: @token) %></p>
